[submodule "ae-sharp"]
	path = ae-sharp
	url = git@github.com:prozum/ae-sharp.git
[submodule "anilist-api"]
	path = anilist-api
	url = https://github.com/Hejsil/Unofficial-AniList-Api-Sharp.git
