DiscordBot/App.config

packages/
bin/
obj/

*.userprefs
*.suo
/Discord.Bot.Application/Properties
/Discord.Bot.Application/Properties/Resources.resx
/Discord.Bot.Application/Properties/Resources.Designer.cs
/Discord.Bot.Application/Properties/Resources.resx
/Discord.Bot.Application/Properties/Resources.Designer.cs
/Discord.Bot.Application/Properties/Resources.resx
/Discord.Bot.Application/Properties/Resources.Designer.cs
/JJerkBot.Application/Properties
