<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotToken" value="***REMOVED***"/>
    <add key="AniListClientID" value="***REMOVED***"/>
    <add key="AniListClientSecret" value="***REMOVED***"/>
    <add key="WallpaperFolder" value ="***REMOVED***"/>
  </appSettings>
</configuration>
